*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: rgb(19, 100, 175);
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    margin-left: 45%;
    
}

.head{
    padding-top: 20px;
}

body{
    background-color: gray;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 200px 100px 100px 200px;
    grid-template-rows: 180px 90px 110px;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 7%;
    justify-content: center;
    grid-template-areas:
    "item-a item-a item-a item-b"
    "item-c item-c item-d item-d"
    "item-c item-c item-e item-e" ;

}


.item-a{
    grid-area: item-a;
    background-color: rgb(218, 81, 47);
    
}

.item-b{
    grid-area: item-b;
    background-color:rgb(231, 231, 20);

}

.item-c{
    grid-area: item-c;
    background-color: rgb(51, 185, 51);
    
}

.item-d{
    grid-area: item-d;
    background-color: skyblue ;
    
}

.item-e{
    grid-area: item-e;
    background-color: skyblue;
    
}